/* necessity */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* banner area css */
.container{
    display: flex;
    align-content:space-between;
    /* 
    justify-content: center; */
    align-items: center;
    background-color: #161616;
    color:white;
    padding: 7% 10% 0 7%;
    margin: 50px 100px;
    border-radius: 40px;

}
.banner-left{
    width: 60%;
    margin-bottom: 5%;
}
.banner-header{
    font-size: 30px;
}
.banner-text{
    font-size: 14px;
    line-height: 1.5em;
}
.btn{
    margin: 30px 0;
    
}
.btn a{
    background-color: orange;
    padding: 10px 25px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;

}

.photo img{
    width: 100%;
    max-width: 400px;
    height: auto;
    position: relative;
    bottom: 0;
    right: 0;
   
}

/* middle part start */

.middle{
    display: grid;
    width:85%;
    margin: 0 auto;
    grid-template-columns: 20% 80%;

}

.left-nav{
text-align: center;

  

}
.left-nav ul{
    padding: 2% 5%;
 
}

.left-nav ul li{
    background-color: #ffffff;
    list-style: none;
    padding: 5% 10%;
    margin: 20px 0;
    font-size: 18px;
    color: black;
    border: 1px solid gray;
    border-radius: 10px;

}
.nav-content{
    background-color: #161616;
    padding: 5%;
    border-radius: 10px;
    
}
.left-nav .active{
    background-color: red;

}
.left-nav .active a{
    color: white;
    
}
.left-nav a{
    text-decoration: none;
    color: black;
   

}


.blog-content{

display: grid;
grid-template-columns: 33% 33% 33%;
margin-left: 2%;
grid-gap: 2%;


}

.blog{
    /* border: 1px solid gray; */
   
    box-shadow: lightgrey 1px 1px 40px;
    border: lightgray 1px solid;
    border-radius: 10px;

}
.blog img{
    width: 100%;
    height: auto;
}

.info{
    padding: 10px 0 10px 10px;

    
}

.info a{
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}
.info h3{
    font-weight: 600;
    font-size: 16px;
}


.icon-info{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 5% ;
}
.view-all-btn{
    text-align: center;
    margin: 100px 0;
    display: none;
    position: relative;

    
}
.view-all-btn a{
    text-decoration: none;
    background-color: #FF0000;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    
   

}


/* footer area */
footer{
    margin-top: 100px;
}

.footer-top{
    padding: 100px;
    background-color: #161616;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.footer-bottom{
    border-top: .5px solid grey;
    display: flex;
    flex-direction: row;
    background-color: #161616;
    justify-content: center;
    padding: 30px 0 100px 0;
}


.footer-bottom a{
    text-decoration: none;
    color: white;
    margin: 2%;
  
}


/* responsive design part */

@media screen and (max-width: 767px){
    .view-all-btn{
        display: block;
    }

    .middle{
        display: block;
    }
    .middle .nav-content{
        background-color: transparent;
    }
    .nav-content ul{
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .nav-content ul li{
        padding: 2% 20px;
        margin: 0 1%;
    }
    .blog-content{
        grid-template-columns: 47% 47%;
    }
    .hide{
        display: none;
    }
  
} 

@media screen and (max-width: 480px){

    .banner-header h1{
        font-size: 20px;
    }
    .banner-header p{
        font-size: 12px;
    }
    .container{
        display: block;
        text-align: center;
        padding:  40px 10px 0 10px;
    }
    .banner-left{
        width: 100%;
        
    }

    .nav-content ul{
        display: inline-block;
        width: 60%;
    }

    .nav-content ul li{
        margin: 10px 0;

    }
    .blog-content{
        grid-template-columns: 94%;
    }
    .view-all-btn{
        display: none;
    }
    .footer-bottom{
        display: grid;
        text-align: center;
    }
    .blog-content{
        position:relative;
        display: block;
    }

    .blog{
        margin-bottom: 10px;
    }

  
}

