/* necessity */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* banner area css */
.container{
    display: flex;
    align-content:space-between;
    /* 
    justify-content: center; */
    align-items: center;
    background-color: #161616;
    color:white;
    padding: 7% 10% 0 7%;
    margin: 50px 100px;
    border-radius: 40px;
}
.banner-left{
    width: 60%;
    margin-bottom: 5%;
}
.banner-header{
    font-size: 30px;
}
.banner-text{
    font-size: 14px;
    line-height: 1.5em;
}
.btn{
    margin: 30px 0;
    
}
.btn a{
    background-color: orange;
    padding: 10px 25px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;

}

.photo img{
    width: 500px;
   
}

/* middle part start */

.middle{
    display: grid;
    width:85%;
    margin: 0 auto;
    grid-template-columns: 20% 80%;

}

.left-nav{
text-align: center;

  

}
.left-nav ul{
    padding: 2% 5%;
 
}

.left-nav ul li{
    background-color: #ffffff;
    list-style: none;
    padding: 5% 10%;
    border-radius: 10px;
    margin: 20px 0;
    font-size: 18px;
    color: black;

}
.nav-content{
    background-color: #161616;
    padding: 5%;
    border-radius: 10px;
}
.left-nav .active{
    background-color: red;

}
.left-nav .active a{
    color: white;
}
.left-nav a{
    text-decoration: none;
    color: black;

}


.blog-content{

display: grid;
grid-template-columns: 33% 33% 33%;
margin-left: 2%;
grid-gap: 2%;

}
.blog{
    border: 1px solid gray;
    margin-right: 2px;

}

.info{
    padding: 10px 0 10px 10px;

    
}


/* footer area */
footer{
    margin-top: 50px;
}

.footer-top{
    padding: 100px;
    background-color: #161616;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.footer-bottom{
    border-top: .5px solid grey;
    display: flex;
    flex-direction: row;
    background-color: #161616;
    justify-content: center;
    padding: 30px 0 100px 0;
}


.footer-bottom a{
    text-decoration: none;
    color: white;
    margin: 2%;
  
}


